@page
@model library.Pages.Books.ShowDetailedBooks

@{
    Layout = "Shared/_Layout";
    ViewData["Title"] = "Ksiazki";
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
@{await Html.RenderPartialAsync("_NavigationPartial");}
<div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Id</th>
            <th>Tytuł</th>
            <th>Imie Autora</th>
            <th>Nazwisko Autora</th>
            <th>Gatunek</th>
            <th>Wydawnictwo</th>
            <th>Edycja</th>
            <th>Czy zamówiona?</th>
            <th>Czy wypożyczona?</th>
            <th>ISBN</th>

        </tr>
        </thead>>
        <tbody>
        @foreach (var item in Model.BookDetailedViews)
        {
            <tr>
                <td>@item.Id</td>
                <td>
                    @item.Title
                </td>
                <td>@item.Author.FirstName</td>
                <td>@item.Author.LastName</td>
                <td>@item.GenreName</td>
                <td>@item.PublisherName</td>
                <td>@item.Edition</td>
                <td>@item.IsOrdered</td>
                <td>@item.IsBorrowed</td>
                <td>@item.Isbn</td>
            </tr>
        }
        </tbody>
    </table>
</div>
</body>
</html>