@page
@model library.Pages.Books.ShowBooks

@{
    Layout = "Shared/_Layout";
    ViewData["Title"] = "Ksiazki";
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
@{await Html.RenderPartialAsync("_NavigationPartial");}
<div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Tytuł</th>
            <th>Imie Autora</th>
            <th>Nazwisko Autora</th>
            <th>Gatunek</th>
            <th>Wydawnictwo</th>
            <th>Edycja</th>
            <th>Ocena</th>
            <th>Ilość ocen</th>

        </tr>
        </thead>>
        <tbody>
        @foreach (var item in Model.BookViews)
        {
            <tr>
                <td>
                    @item.Title
                </td>
                <td>@item.Author.FirstName</td>
                <td>@item.Author.LastName</td>
                <td>@item.GenreName</td>
                <td>@item.PublisherName</td>
                <td>@item.Edition</td>
                <td>@item.AverageRating.ToString("0.##")</td>
                <td>@item.RatingsCount</td>
                <td> <a class="btn btn-outline-primary mx-2" href="/Reviews/AddReview?isbn=@item.Isbn">Dodaj recenzję</a></td>
                <td> <a class="btn btn-outline-primary mx-2" href="/Borrows/AddBorrow?isbn=@item.Isbn">Wypożycz</a></td>
                <td> <a class="btn btn-outline-primary mx-2" href="/Orders/AddOrder?isbn=@item.Isbn">Zarezerwuj</a></td>
                <td> <a class="btn btn-outline-primary mx-2" href="/Books/BookDetails?isbn=@item.Isbn">Detale</a></td>
            </tr>
        }
        </tbody>
    </table>
    <br/>
   @if (User.Claims.First(c => c.Type == "Role").Value == "True")
   {
       <a class="btn btn-outline-primary mx-2" href="/Books/NewBook">Dodaj nową</a>
   }
</div>
</body>
</html>